<div id="category-hero" class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="col-xs-10 col-md-10">

          <div class="hero-content">

			       <h3 class="text-left">Category: Music</h1>
			       <p>When I'm not doing research, I like writing songs and creating music in my spare time. I write, record and mix them all by myself. I believe my musical experiences in extracurricular activities have helped me in bringing fun, creativity and art into the projects I did.</p>

		  </div>

		</div>

      </div>

    </div>

  </div>

</div>