<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="middle">
  <iframe width="520" height="325" src="https://www.youtube.com/embed/Cke3bWEihCM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <h4 class="title">Good Or Bad (MV)</h4>
</div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="middle">
  <iframe width="520" height="325" src="https://www.youtube.com/embed/Idh_7bPmd8w?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <h4 class="title">Can't Hold Us</h4>
</div>


