<div id="category-hero" class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="col-xs-10 col-md-10">

          <div class="hero-content">
			<h3 class="text-left">Category: Portfolio</h1>
			<p>I combine my love of computer science, music and art to create novel interactive applications. These Applications range from educational games and mixed reality, to interactive interfaces and computer vision.</p>
		  </div>

		</div>

      </div>

    </div>

  </div>

</div>